{{template "header"}}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            
            <h2>{{ .shikiho.Code }} {{ .shikiho.CompName }}</h2>
            <table border="1">
                <tbody>
                    <tr>
                        <th>決算</th>
                        <th>設立</th>
                        <th>上場</th>
                        <th>URL</th>
                        <th>本社</th>
                        <th>業種</th>
                        <th>比較会社</th>
                        <th>従業員</th>
                    </tr>
                    <tr>
                        <td>{{ .shikiho.Settlement }}</td>
                        <td>{{ .shikiho.Establishment }}</td>
                        <td>{{ .shikiho.StockListing }}</td>
                        <td>{{ .shikiho.URL }}</td>
                        <td>{{ .shikiho.HeadOffice }}</td>
                        <td>{{ .shikiho.TypeOfBusiness }}</td>
                        <td>{{ .shikiho.CompareCompany }}</td>
                        <td>{{ .shikiho.NumOfEmployee }}</td>
                    </tr>
                </tbody>
            </table>

            <table border="1">
                <tbody>
                    <tr>
                        <th>連結</th>
                        <th>連結事業</th>
                    </tr>
                    <tr>
                        <td>{{ .shikiho.Consolidated }}</th>
                        <td>{{ .shikiho.ConsolidatedBusiness }}</th>
                    </tr>
                </tbody>
            </table>

            <table border="1">
                <tbody>
                    <tr>
                        <th>仕入先</th>
                        <th>販売先</th>
                        <th>証券</th>
                        <th>銀行</th>
                    </tr>
                    <tr>
                        <td>{{ .shikiho.Supplier }}</th>
                        <td>{{ .shikiho.SalesContact }}</th>
                        <td>{{ .shikiho.Certificate }}</th>
                        <td>{{ .shikiho.Bank }}</th>
                    </tr>
                </tbody>
            </table>

            <p></p>

            <h2>コメント</h2>
            <h3>・特徴</h3>
            {{ range .shikihos }}
            <div class="row">
                <div class="col-1 ">
                    <span class="badge badge-dark">
                        {{ .Year }}年{{ .Quarter | GetQuarterFromNum}}
                    </span>
                </div>
                <div class="col-10">{{ .Feature }}</div>
            </div>
            {{ end }}

            <p></p>
            
            <h3>・トピック / 次期展望</h3>
            {{ range .shikihos }}
            <div class="row">
                <div class="col-1 ">
                    <span class="badge badge-dark">
                        {{ .Year }}年{{ .Quarter | GetQuarterFromNum}}
                    </span>
                </div>
                <div class="col-5">{{ .Topic }}</div>
                <div class="col-5">{{ .Outlook }}</div>
            </div>
            {{ end }}

            <p></p>
            
            <div class="row">
                <div class="col-4">
                    <h2>業績</h2>
                    <table class="table-striped">
                        <tbody>
                            <tr>
                                <th></th>
                                <th>売上高</th>
                                <th>営業利益</th>
                                <th>税前利益</th>
                                <th>純利益</th>
                                <th>一株利益</th>
                                <th>一株配当</th>
                            </tr>
                            {{ range .shikihos }}
                            <tr>
                                <td><span class="badge badge-dark">
                                        {{ .Year }}年{{ .Quarter | GetQuarterFromNum}}予想
                                    </span></td>
                                <td align="right">{{ .NextSales | Comma}}</td>
                                <td align="right">{{ .NextOperationgIncome | Comma }}</td>
                                <td align="right">{{ .NextOrdinaryIncome | Comma }}</td>
                                <td align="right">{{ .NextNetIncome | Comma }}</td>
                                <td align="right">{{ .NextNetIncomePerShare | RoundFloatStrIfParsable}}</td>
                                <td align="right">{{ .NextDividend | RoundFloatStrIfParsable }}</td>
                            </tr>
                            <tr>
                                <td><span class="badge badge-dark">
                                        {{ .Year }}年{{ .Quarter | GetQuarterFromNum}}実績
                                    </span></td>
                                <td align="right">{{ .PrevSales | Comma }}</td>
                                <td align="right">{{ .PrevOperatingIncome | Comma }}</td>
                                <td align="right">{{ .PrevOrdinaryIncome | Comma }}</td>
                                <td align="right">{{ .PrevNetIncome | Comma }}</td>
                                <td align="right">{{ .PrevNetIncomePerShare | RoundFloatStrIfParsable}}</td>
                                <td align="right">{{ .PrevDividend | RoundFloatStrIfParsable}}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </div>

                <div class="col-4">
                    <h2>キャッシュフロー</h2>
                    <table class="table-striped">
                        <tbody>
                            <tr>
                                <th></th>
                                <th>営業CF</th>
                                <th>投資CF</th>
                                <th>財務CF</th>
                                <th>現金等</th>
                            </tr>
                            {{ range .shikihos }}
                            <tr>
                                <td><span class="badge badge-dark">
                                        {{ .Year }}年{{ .Quarter | GetQuarterFromNum}}
                                    </span></td>
                                <td>{{ .OperationgCf | Comma }}({{ .PrevOperatingCf | Comma }})</td>
                                <td>{{ .InvestmentCf | Comma }}({{ .PrevInvestmentCf | Comma }})</td>
                                <td>{{ .FinancingCf | Comma }}({{ .PrevFinancingCf | Comma }})</td>
                                <td>{{ .Cash | Comma }}({{ .PrevCash | Comma }})</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </div>

                <div class="col-4">
                    <h2>財務状況</h2>
                    <table class="table-striped">
                        <tbody>
                            <tr>
                                <th></th>
                                <th>総資産</th>
                                <th>自己資本</th>
                                <th>自己資本比率</th>
                                <th>資本金</th>
                                <th>利益余剰金</th>
                                <th>有利子負債</th>
                            </tr>
                            {{ range .shikihos }}
                            <tr>
                                <td><span class="badge badge-dark">
                                        {{ .Year }}年{{ .Quarter | GetQuarterFromNum}}
                                    </span></td>
                                <td>{{ .TotalAssets | Comma }}</td>
                                <td>{{ .OwnedCapital | Comma }}</td>
                                <td>{{ .OwnedCapitalRatio }}</td>
                                <td>{{ .Capital | Comma  }}</td>
                                <td>{{ .RetainedEarnings | Comma }}</td>
                                <td>{{ .InterestBearingDebt | Comma }}</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "footer"}}