{{template "header"}}

<div class="container">
    <div class="row">
        <div class="col-lg-3">

            <form action="shikihos" method="get">
                <div class="row">
                    <div>
                        <label>発行年月</label>
                        <p>
                            <select name="year" id="year">
                                {{ range .year}}
                                <option value={{ . }}>{{ . }}</option>
                                {{ end }}
                            </select>
                            <select name="quarter" id="id_quarter">
                                <option value="1">春</option>

                                <option value="2">夏</option>

                                <option value="3">秋</option>

                                <option value="4">冬</option>

                            </select>
                        </p>
                    </div>
                    <div>
                        <label>銘柄コード</label>
                        <p>
                            <input type="text" name="code" maxlength="20" id="code">
                        </p>
                    </div>
                    <div>
                        <label>企業名</label>
                        <p>
                            <input type="text" name="comp_name" maxlength="20" id="comp_name">
                        </p>
                    </div>
                    <div>
                        <label>特徴</label>
                        <p>
                            <input type="text" name="feature" maxlength="20" id="feature">
                        </p>
                    </div>
                    <div>
                        <label>トピック</label>
                        <p>
                            <input type="text" name="topic" maxlength="20" id="topic">
                        </p>
                    </div>
                    <div>
                        <label>見通し</label>
                        <p>
                            <input type="text" name="outlook" maxlength="20" id="outlook">
                        </p>
                    </div>
                    <div>
                        <p>
                            <input type="submit" value="検索" class="btn btn-warning">
                        </p>
                    </div>
                </div>
            </form>
        </div>


        <div class="col-lg-9">
            <table class="table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="50">銘柄コード</th>
                        <th width="80">企業名</th>
                        <th width="250">特徴</th>
                        <th width="250">トピック</th>
                        <th width="250">見通し</th>
                        <th width="50"></th>
                    </tr>
                </thead>

                <tbody>
                    {{ range .shikihos }}
                    <tr>
                        <td>{{ .Code }}</td>
                        <td>{{ .CompName }}</td>
                        <td>{{ .Feature }}</td>
                        <td>{{ .Topic }}</td>
                        <td>{{ .Outlook }}</td>
                        <td><a href="/shikihos/code/{{ .Code }}">詳細</a></td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
    <!-- {% include 'shikihos/pagination.html'%} -->
</div>
{{template "footer"}}