body {
    margin:0 auto;
    }
#header {
    height:50px;
}
#sidebar {
    width:200px;
    height:auto;
    float:left;
    margin-top:10px;
}
#content { 
    margin-left:260px;
    height:auto;
    margin-top:10px;
}
#footer { 
    margin-top:10px;
    height:50px;
}